
.tma_review-actions {
				margin-right: 0px;
}	
.rating-summary .rating-result>span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #f4b625;
    font-family: 'luma-icons';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\e605' '\e605' '\e605' '\e605' '\e605';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none
}
.product-info-main .product-info-price {
    border-bottom: none;
}
.product-info-main .product-info-price .price-box .price-container > span:last-child {
    float: left;
    margin-right: 10px;
    font-size: 26px;
    font-weight: 700;
}
.product-info-main .product-info-price .old-price .price-wrapper .price {
    text-decoration: line-through;
    font-size: 16px;
}
.product-info-main .product-info-price .save-price {
    font-size: 22px;
    font-weight: 600;
}
.product-options-bottom .price-box .price-container .price, 
.product-info-price .price-box .price-container .price{
    font-size: 26px;
}

.product-info-main .stock.available, .product-info-main .stock.unavailable {
     text-transform: capitalize;
     color: #15AC38;
}