/*-----------------breadcrumb-----------------*/
.sec-breadcrumb {
	margin-top: 15px;
	margin-bottom: 15px;
}
.content-home {
	color: #4D4D4E;
}
/*--breadcrumb--*/
#breadcrumb {
	background-color: #FFF;
	padding-left: 0px;
}
#breadcrumb li{
    font-size: 16px;
}
#breadcrumb li a {
    text-decoration: none;
    color: #777;
}
#breadcrumb .active {
	color: #000;
}
#breadcrumb > li + li:before {
	content: "\3E";
}

/*-----------------sideMenu-----------------*/
#btn-collapse {
	/*display: none;*/
}
	@media screen and (min-width: 768px) {
		#btn-collapse {
			display: none !important;
		}
	}
	@media screen and (max-width: 767px) {
		.sec-sideMenu {
			display: none !important;
		}
		#btn-collapse {
			display: show !important;
		}
	}


.sec-sideMenu .panel .panel-body ul li {
    margin: 8px;
}
.sideMenu-heading {
	color: #0B5CB0; 
	font-weight: bold; 
	font-size: 16px;
	margin-bottom: 15px;

}

.sec-sideMenu .panel .panel-body {
	color: #4D4D4E; 
	background-color: #F6F7FB;
	border-top: 2px solid #0157AE;
}
.sec-sideMenu .panel .panel-body .style-disc {
	padding-left: 0px;
	list-style: disc; 
	margin-left: 10px;
}
.sec-sideMenu .panel .panel-body .style-disc a {
	text-decoration: none;
	color: #737475;
}
.sec-sideMenu .panel .panel-body .style-disc a:hover {
	color: orange;
}
.sec-sideMenu .panel .panel-body .style-none {
	margin-left: 5px; 
	margin-top: 15px;
	list-style: none;
	padding-left: 0px;
}
#sideMenu-filter {
	margin-top: 25px; 
	color: #4A4A4A; 
	font-weight: bold;
}
.index-price {
	width: 80px; 
	float: left;
}
.index-price span {
	width: 20px; 
	padding-left: 2px; 
	padding-right: 2px;
}
#between-price {
	float: left; 
	line-height: 34px; 
	margin-left: 3px; 
	margin-right: 3px;
}
#btn-price-filter {
	color: #EEE;
	width: 38px; 
	height: 34px; 
	border-width: 0px; 
	margin-left: 7px;
	background-color: #0157AE;
}
.panel-margintop {
	margin-top: 25px;
}




img {
	width: 100%;
	height: auto;
}
/*-----------------popular products-----------------*/

.slide-popular-products {
	height: 310px;
}

.item img {
	margin-top: 10px;
	width: 100%;
	height: 150px;
}
.title-item {
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
	height: 50px;
}
.item-price {
	float: left;
}
.item-sale {
	float: left;
}
.old-price-item-label {
	color: #666;
	text-decoration: line-through;
}
.old-price-item-label sup {
	vertical-align: top;
	position: relative;
	top: 0.6em;
	font-size: 0.6em;
}
.sort_result {
	 
	margin-top: 30px; 
	margin-bottom: 25px; 
	border-top: 1px solid #DBDBDB; 
	border-bottom: 1px solid #DBDBDB; 
	padding: 10px 0px;
}

.left-result {
	line-height: 34px;
	padding-left: 20px;
}
.left-result span {
	color: blue;
}
.right-result {
	padding-right: 15px; 
	line-height: 34px;
}
.right-result label {
	float: right;
}
.btn-grp {
	float:right; 
	margin-left: 15px;
}
.btn-grp button {
	height: 34px; 
	width: 40px; 
	line-height: 34px;
}
#btn-display-list {
	color: #0157AE;
}
#sorter {
	margin-left: 10px;  
	float: right;
	line-height: 34px;
	height: 34px;
	width: 150px;
	text-align: center;

}
/*-----------------list-products-----------------*/

.view-img img {
	width: 262px;
	height: 250px;
}
.product-title {
	padding-top: 15px;
	font-size: 15px;
	margin-bottom: 15px;
}
.product-price {
	line-height: 38px;
}
.product-price img {
	margin-left: 30px;
	width: 110px; 
	height: 35px;
	
}
.price-label {
	color: #0157AE;
	font-size: 20px;
	font-weight: bold;
	margin-right: 30px;
	line-height: 38px;

}
.price-label sup {
	vertical-align: top;
	position: relative;
	top: 1.2em;
	font-size: 0.6em;

}
.old-price-label {
	color: #666;
	text-decoration: line-through;
}
.old-price-label sup {
	vertical-align: top;
	position: relative;
	top: 1.9em;
	font-size: 0.6em;
}
.product-describe {
	margin-top: 15px;
}
.product-describe ul {
	list-style: disc;
	padding-left: 15px;
}
.product-describe ul li {
	margin-top: 8px;
}

/*------------border remove some part of corner-----------------*/
.bordery-no-top-left {
  border: 1px solid #DCDCDC !important;
  padding: 20px;
  position: relative;
  border-top: none !important;
  border-left: none !important;
}
.bordery-no-top-left::after,
.bordery-no-top-left::before {
  background-color: white;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
}
.bordery-no-top-left::after {
  bottom: -1px !important;
  right: -1px !important;
}
.bordery-no-top-left::before {
 bottom: -1px;
 left: -1px;
}



.bordery-bottom {
  border: 1px solid #DCDCDC !important;
  padding: 20px;
  position: relative;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.bordery-bottom::after,
.bordery-bottom::before {
  background-color: white;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
}
.bordery-bottom::after {
  bottom: -1px;
  right: -1px;
}
.bordery-bottom::before {
  bottom: -1px;
  left: -1px;
}


.bordery-right {
  border: 1px solid #DCDCDC !important;
  padding: 20px;
  position: relative;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}
.bordery-right::after,
.bordery-right::before {
  background-color: white;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
}
.bordery-right::after {
  bottom: -1px;
  right: -1px;
}
.bordery-right::before {
  top: -1px;
  right: -1px;
}

/*------------------animation image ---------------------*/

.style_prevu_kit
{
	height: auto;
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}